.btn-me {
    padding: 16px 32px;
    font-size: 14px;
    border-radius: 35px;
    border: 0;
    background: linear-gradient(135deg, rgb(249, 115, 22), rgb(234, 88, 12));
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
}

.bg-black-500 {
    background-color: #0a0a0a;
}

.w-img {
    width: 48px;
    height: 48px;
}

.titleweb {
    font-size: 20px;
}

.detaltitle {
    font-size: 12px;
    color: oklch(75% .183 55.934);
}

.iconseach {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px
}

.tooglenav {
    color: oklch(70.8% 0 0);
}

.bord {
    border: 1px solid #262626;
    border-radius: 30px;
    background-color: #161616;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-block: 10px !important;
}

.bord a {
    font-size: 14px;
}

.acolor {
    color: #ccc !important;
    transition: 0.3s all ease-in-out;
    position: relative;
}
.activeLink {
    color: #fff !important;
    background-color: #f97316 !important;
    padding: 10px 20px !important;
    border-radius: 40px;
}

.acolor:hover {
    color: white !important;
}

.orange-color {
    color: #f97316 !important;
    position: relative;
}